<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538896768620-n2rhipt2k7q8cem669lf2e5r2ssf6pub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538896768620-n2rhipt2k7q8cem669lf2e5r2ssf6pub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538896768620-iph3cv1j76jvsgq52e126ea0g3t9mspe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDauRilbL4oXJT3cr_Tb6dxVcn8SpTchgc</string>
	<key>GCM_SENDER_ID</key>
	<string>538896768620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naijamart.tech</string>
	<key>PROJECT_ID</key>
	<string>naijamart-e16de</string>
	<key>STORAGE_BUCKET</key>
	<string>naijamart-e16de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538896768620:ios:5a999aa25bc939b90f0249</string>
</dict>
</plist>
